fastapi==0.135.2
uvicorn==0.42.0
sqlalchemy==2.0.48
pydantic==2.12.5
pydantic-settings==2.13.1
httpx==0.28.1
loguru==0.7.3
python-jose==3.5.0
passlib==1.7.4
bcrypt==5.0.0
DrissionPage==4.1.1.2
APScheduler==3.11.2
lxml==6.0.2
requests==2.33.0
anyio==4.13.0
starlette==1.0.0
